.button_add_note{
    background-color: #ffffff;
    border-radius: 10rem;
    width: 10rem;
    height: 3.5rem;
    color: #6e7a95;
    display: flex;

    align-items: center;
    box-shadow: 0 4px 18px -10px rgba(0,0,0,0.75);
    font-size: 1rem;
    user-select: none;
    transition:  0.15s linear;

}
.button_add_note:active{
    box-shadow: none;
}
.img_plus{
    stroke: #ff0000;
    margin-left: 0.75rem;
}
