.edit_note{
    background-color: #f4f4f7;
    border-radius: 0.5rem;
    min-width: 40rem;
    color: #6e7a95;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 18px -10px rgba(0,0,0,0.75);
    font-size: 1rem;
    margin-bottom: 0.75rem;
    padding: 1rem 0;
}
.title_text{

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1rem;
}
.title{
    font-family: 'Comfortaa', cursive;
    width: 38rem;
    margin-bottom: 1rem;
    border: none;
    border-bottom: 1px solid #6e7a95;
    background-color: #f4f4f7;
    color: #6e7a95;
    font-size: 1rem;
    font-weight: bold;
    outline: none;
}

.text {
    font-family: 'Comfortaa', cursive;
    margin-bottom: 1rem;
    width: 36.5rem;
    height: 7rem;
    border: none;
    outline: none;
    font-size: 1rem;
    color: #6e7a95;
    resize: none;
    padding: 0.5rem 0.75rem;
    overflow : auto;
    border-radius: 0.3rem;

}

.buttons{
    display: flex;
    justify-content: flex-end;
    width: 40rem;
    height: 3rem;

}
.btn_add_temp{
    width: 10rem;
    height: 3rem;
    background-color: #ffffff;
    margin: 0 1rem;
}
::-webkit-scrollbar {
    width: 0.5rem;

}
::-webkit-scrollbar-button:start:decrement,
 ::-webkit-scrollbar-button:end:increment  {
     height: 1rem;
 }


::-webkit-scrollbar-thumb:vertical {
    background-color: #6e7a95;
    -webkit-border-radius: 1rem;
}
